<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getSNP()}">NAME</p>
<p th:text="${person.getBirth_year()}">AGE</p>
<p th:text="${person.getEmail()}">EMAIL</p>
<p th:text="${person.getUser_id()}">ID</p>



<div th:if="${!books.isEmpty()}">
    <hr/>
    <h2>Reserved Books:</h2>
    <div th:each="book : ${books}">
        <p th:text='${book.getTitle()}'></p>
        <span> <p th:text='${book.isExpired() ? "  < EXPIRED >" : ""}'></p> </span>
    </div>
    <hr/>
</div>





<a th:href="@{/people/{id}/edit(id=${person.getUser_id()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getUser_id()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>