<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Person</title>
</head>
<body>
<form th:method = "PATCH" th:action = "@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Enter Full Name:</label>
    <input type="text" th:field="*{title}" id = "title">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">ERROR</div>
    <br/>
    <label for="author_name">Enter birth year:</label>
    <input type="text" th:field="*{author_name}" id = "author_name">
    <div style="color:red" th:if="${#fields.hasErrors('author_name')}" th:errors="*{author_name}">ERROR</div>
    <br/>
    <label for="year">Enter email:</label>
    <input type="text" th:field="*{year}" id = "year">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">ERROR</div>

    <br/>

    <input type="submit" value="Update">
</form>
</body>
</html>